/*  
## Example of css formating for components: ##

#map { height: 180px; }  
*/

/* Our style formatting for our map element called in index.html */
html,
body,
#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}